.country {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 30rem;
  box-shadow: 0 10px 6px rgba(51, 51, 51, 0.158);
}

.country-image {
  flex: 2;
}

img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.country-data {
  flex: 2;
  margin-left: 2rem;
}
.country-data h2 {
  margin: 1.5rem 0;
  font-size: 1.7rem;
}
.country-data p {
  font-size: 1.4rem;
  font-weight: 800;
}
.country-data p:not(:first-child) {
  margin-top: 0.5rem;
}
.country-data span {
  font-size: 1.4rem;
  font-weight: 300;
}
