@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* background: #fff; */
}

body {
  font-family: "Nunito Sans", sans-serif;
  /* background: #fff; */
}

.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333;
}
