@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

/* Elements 
(Dark Mode Elements)
(Dark Mode Background)
(Light Mode Text)
(Light Mode Input)
(Light Mode Background)
(Dark Mode Text & Light Mode Elements)

*/

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

/* Header */

.nav {
  background-color: var(--White);
  padding: 1.4rem 8rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container h1 {
  font-size: 2.4rem;
  font-weight: 800;
}

.theme h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Home Page */
.home {
  background-color: var(--Very-Light-Gray);
}

/* Search/Filter */
.search-filter {
  margin: 6rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container {
  width: 30%;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 2.3rem;
  font-size: 1.7rem;
  left: 2rem;
}

.input {
  width: 100%;
  padding: 1.5rem 2rem;
  margin: 8px 0;
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.048);
}

.input::placeholder {
  font-size: 1.5rem;
  text-align: center;
}

/* Coutries */
.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
  margin: 2rem 8rem;
}

.country-card {
  height: 30rem;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.068);
}

.country-image {
  flex: 2;
}

.country-image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.country-content {
  flex: 2;
  padding: 1.4rem;
}

.country-content h2 {
  font-size: 1.8rem;
  font-weight: 800;
}

.info {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}

.info p {
  font-weight: 600;
}

.info p:not(:first-child) {
  margin-top: 0.8rem;
}

.info span {
  font-weight: 300;
  margin-left: 0.5rem;
}

/* Country Detail */

.country-detail {
  background-color: var(--Very-Light-Gray);
}
.back {
  display: inline-block;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.123);
  border-radius: 0.4rem;
  margin: 6rem 8rem;
  padding: 0.7rem 3rem;
  color: #333;
  text-decoration: none;
  font-size: 1.6rem;
}

.back span {
  margin-left: 0.8rem;
}

.country-detail-content {
  display: flex;
  margin: 0 8rem;
}

.flag {
  flex: 2;
}

.flag img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-content {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content-container {
  width: 75%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content-container h1 {
  font-size: 3.2rem;
  font-weight: 800;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details p {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.8rem;
}

.details p:not(:first-child) {
}

.details span {
  font-weight: 300;
  margin-left: 0.7rem;
}

.border-countries {
  display: flex;
  align-items: center;
}

.border-countries h4 {
  font-size: 1.4rem;
  font-weight: 600;
  padding: none;
}

.border-countries ul {
  display: flex;
  list-style: none;
}

.border-countries ul li {
  font-weight: 300;
  font-size: 1.4rem;
  padding: 0.7rem 3rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.055);
  margin: 0 1.2rem;
}
